<div class="container" ui-keypress="{'enter':'pressS($event)'}">
  <div class="row">
    <div class="span4">
      <img ng-src="{{iconUrl.url}}" />
    </div>
    <div class="span4">
      <p>
        <label class="span2" for="maincolor">Main color</label>
        <input ng-model="mainColor" cp-on-click="saveLocation()" colorpicker type="text" name="maincolor" class="cp-input span1" />
      </p>
      <p>
        <label class="span2" for="background">Background</label>
        <input ng-model="bgColor" cp-on-click="saveLocation()" colorpicker type="text" name="background" class="cp-input span1" />
      </p>
      <p>
        <label class="span2" for="linecolor">Line color</label>
        <input ng-model="lineColor" cp-on-click="saveLocation()" colorpicker type="text" name="linecolor" class="cp-input span1" />
      </p>
      <p>
        <label class="span2" for="onbackground">Draw background</label>
        <input ng-model="onBackground" class="icon-input span1" type="checkbox" id="onbackground" name="onbackground" />
      </p>
      <p>
        <label class="span2" for="shadow">Shadow</label>
        <input ng-model="shadow" name="shadow" class="icon-input span1" type="checkbox" />
      </p>
      <p>
        <button class="btn span2" ng-click="setLineEqualToMainColor()">Equal</button>
      </p>
      <p>
        <button name="save" id="save" class="btn span2" ng-click="saveLocation()">Save to url</button>
      </p>
    </div>
    <div class="span2">
      <p>
        <select ng-model="iconName" size="42" class="icon-input span3">
          <option ng-repeat="icon in iconList">{{icon}}</option>
        </select>
      </p>
    </div>
  </div>
</div>
